form {
    border-style: hidden;
    background-color: rgba(43, 182, 192, 0.473);
    padding: 2em;
    margin: 0 auto;
    margin-bottom: 3em;
    border-radius: 25px;
}

input {
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}