#translationBox {
    border-color: grey;
    min-height: 200px;
    max-width: 500px;
    border-radius: 25px;
    border-style: solid;
    margin: 0 auto;
}

.sign {
    display: inline-block;
}

img {
    height: 40px;
}